<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img id="video" src="" alt="Red dot" />
  </body>
  <script src="/socket.io/socket.io.js"> </script>

  <script>
    let socket = io();
    socket.on('frame', function(b64){
      console.log('ga')
      console.log(b64)
      let imgTag = document.getElementById('video')
      imgTag.setAttribute('src', "data:image/jpeg;base64," +b64)
    })
  </script>
</html>
